.App {
  color: white;
  max-width: 400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: #edbb30;
  font-weight: 400;
}

.performances,
.aboutme,
.logoWrapper,
.contactWrapper {
  background-color: #7f00ff;
}

.logoWrapper {
  text-align: center;
}

.centerLogo {
  width: 50%;
  margin: -40px 0;
}

.headerWrapper {
  padding: 12px;
}

.luis {
  font-size: 60px;
  font-weight: 800;
  line-height: 40px;
}

.shrestha {
  font-size: 40px;
}

.tagline {
  margin-top: 8px;
}

.firstPic {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: -4px;
}

.performances,
.aboutme {
  font-size: 32px;
  font-weight: bold;
  padding: 24px 12px;
}

h3 {
  text-align: center;
}

.secondPic {
  width: 80%;
  margin: 0 10%;
}

.content,
.aboutContent {
  padding: 4px 12px;
}

.stageMagicWrapper,
.aboutContent {
  background-color: #161419;
}

.thirdPic {
  width: 50%;
  margin: 0 25%;
}

.profilePic {
  max-width: 100%;
  max-height: 100%;
}

.aboutContent {
  margin-bottom: -20px;
  margin-top: -4px;
}

.contactWrapper {
  text-align: left;
  padding: 0 12px 12px 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .tagline {
    animation: reveal 1 2s ease-in;
  }
  img,
  p,
  h3 {
    animation: reveal 1 6s ease-out;
  }
}

@keyframes reveal {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}
