.container {
  width: min(calc(2.5 / 3.5 * 90vh), 90vw);
  height: min(90vh, calc(3.5 / 2.5 * 90vh));
  filter: drop-shadow(2px 2px 2px #656565);
  border-radius: 14px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #7f00ff;
  color: white;
  font-size: 14px;
  transform: translate(0);
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: 5vh 0;
}

.suitBottom,
.suitTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #edbb30;
  font-weight: 800;
  font-size: 8vh;
}

.suitTop {
  top: 1vh;
  left: 2vh;
}

.suitBottom {
  bottom: 1vh;
  right: 2vh;
}

.suitLogo {
  margin: -2vh 0;
  width: 10vh;
}
